@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

input {
  padding: 5px;
  border: 1px solid #888888;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 3px;
}

button {
  background-color: rgb(252, 228, 124);
  border: 1px solid lightgray;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.6;
}